body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('2.jpg');
    background-size: cover;
    background-position: top center; /* Adjusted */
    background-attachment: fixed; /* Keeps background fixed while content scrolls */
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 15px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
}
.logo img {
    max-height: 50px;
    max-width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #f5f2f2;
    font-weight: bold;
    font-size: 16px;
}
.button-container {
    margin-top: 200px; /* Adjust spacing as needed */
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px; /* Adjust spacing between rows */
}

button {
    border: none;
    background-color: rgba(5, 189, 240, 0.5); /* Transparent blue color */
    width: 250px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    font-size: 16px;
    color: #030000; /* Text color */
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px; 
    margin-right: 50px;
}
button:hover {
    background-color: rgba(255, 87, 51, 0.5); /* Transparent red color on hover */
}

/* Style anchor tags inside buttons */
button a {
    text-decoration: none;
    color: inherit; /* Inherit text color from button */
    display: block;
}

/* Style anchor tags on hover */
button:hover a {
    color: inherit; /* Inherit text color from button */
}
